{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <p>Vous êtes jérôme le designer?</p>
    <p>OUIOUIOUIOUIOUI !</p>

    {{ form_start(commentForm) }}

{#     {{  form_row(commentForm.COM_id_user, {'attr': {'placeholder': "Auteur"}})   }}
    {{  form_row(commentForm.COM_text, {'attr': {'placeholder': "Commentaire"}})   }}
   
    <button type="submit">COMMENTE LAAAAAAAAAA</button>
    {{  form_end(commentForm)   }} #}


{% endblock %}
