{% extends 'base.html.twig' %}

{% block body %}

    <section class="container mt-50">
            <div class="row center-align">
                <div class="d-flex flex-column col s12">
                    <img src="img/cs_logo_orange-st.svg" alt="logo" class="responsive-img">
                                   
                    <form action="{{ path('security_login') }}" method="post"  class="col s12 mt-50">
                        <div class="row d-flex flex-column ai-center no-margin">
                        {{ form_start(form) }}
                            <div class="d-inline-flex flex-column ai-flex-start">
                                {{ form_row(form.username, {'label': 'Pseudo'}) }}
                            </div>
                            
                            <div class="d-inline-flex flex-column ai-flex-start mt-10">
                                {{ form_row(form.USE_nom, {'label': 'Nom complet'}) }}
                            </div>

                            <div class="d-inline-flex flex-column ai-flex-start mt-10">
                                {{ form_row(form.USE_email, {'label': 'Mail'}) }}
                            </div>

                            <div class="d-inline-flex flex-column ai-flex-start mt-10">
                                {{ form_row(form.password, {'label': 'Mot de passe'}) }}
                            </div>

                            <div class="d-inline-flex flex-column ai-flex-start mt-10">
                                {{ form_row(form.confirm_password, {'label': 'Confirmer votre mot de passe'}) }}
                            </div>
        
                            <div class="mt-20">
                                <input type="submit" value="Connexion" class="no-border-radius waves-effect waves-light input-action bg-color-3">
                            </div>
        
                            <div class="mt-20">
                                <input type="button" class="button-action" value="Mot de passe oublié" onclick="window.location.href='/recuperation'">
                            </div>
        
                            <div class="mt-20">
                                <h5 class="fs-12 raleway fw-500">Aucun compte ?</h5>
                                <input type="button" class="button-action" value="S'inscrire" onclick="window.location.href='/inscription'">
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        
        </section>
    

{% endblock %}