{% extends 'base.html.twig' %}

{% block title %}SearchMap{{ controller_name }}!{% endblock %}

{% block body %}

   <div class="map" id="mapid"></div>
   <p id="infoposition"></p>

    <input type="hidden" name="lat" id="lat"/> 
    <input type="hidden" name="lng" id="lng"/>

    <input type="hidden" name="lat" id="lat"/> 
    <input type="hidden" name="lng" id="lng"/>

    {%   for spot in spots   %}
        <input type="hidden" data-lat="{{ spot.SPOLatitude }}" data-long="{{ spot.SPOLongitude }}" data-img="{{  spot.SPOPhoto  }}" data-id="{{   spot.id   }}" data-description="{{  spot.SPODescription  }}" name="lnglat" id="lnglat" class="lnglat" />
    {%   endfor   %}

    {%   for spot in spots   %}

    {%   endfor   %}
{% endblock %}