{% extends 'base.html.twig' %}

{% block title %}Info spot{% endblock %}

{% block body %}

    

    <input type="hidden" data-lat="{{ spots.SPOLatitude }}" 
    data-long="{{ spots.SPOLongitude }}" data-img="{{  spots.SPOPhoto  }}" 
    data-id="{{   spots.id   }}" data-description="{{  spots.SPODescription  }}" 
    name="lnglat" id="lnglat" class="lnglat" />

<!-- Version mobile -->

    <div class="d-flex flex-column d-none d-block-mobile d-flex-mobile flex-column-mobile ai-center">
        {% if spots.SPOPhoto %}

            <img src="../{{ spots.SPOPhoto }}" alt="Primary champignon">

        {% else %}
        
            <img src="../img/champi-nf.png" alt="Primary champignon">
            
        {% endif %}
        <p class="color-1">INFORMATIONS</p>
        <div class="row no-margin-mobile w-90pct-mobile">
            <div class="d-flex text-center col s3">
                <div class="d-flex flex-column">
                {% if champi == "non" %}
                    <i class="fas fa-skull color-toxique"></i>
                    <p class="color-toxique no-margin-mobile">Toxique</p>
                {% endif %} 
                {% if champi == "oui" %}
                    <i class="fas fa-smile color-comestible fs-80"></i>
                    <p class="color-comestible fs-24 no-margin-mobile">Comestible</p>
                {% endif %} 
                {% if champi == "peut-être" %}
                    <i class="fas fa-question-circle color-incertain"></i>
                    <p class="color-incertain no-margin-mobile">Toxicité à déterminer</p>
                {% endif %} 
                </div>
            </div>
            <div class="col s8 offset-s1">
                <p>
                    {{   spots.SPODescription   }}
                </p>
            </div>
        </div>
        <div class="w-90pct-mobile">
            <p>Posté par {{ author.username }}</p>
        </div>
        <div class="d-flex ai-center flex-column">
            <canvas id="myChart" width="150" height="150" class="canvas-w canvas-h"></canvas>
            <p class="raleway fs-18 color-1">Accessibilité :</p>
            <p class="no-margin">{{ spots.SPOAccessibilite }}</p>
            <input type="hidden" name="accessibilité" id="accessibilite" value="{{ spots.SPOAccessibilite }}">
        </div>     
    </div>

     {{ form_start(formSignal) }}

        {{ form_row(formSignal.SIG_vide, {'label': 'Il n\'y a rien à ce spot : '}) }}
        {{ form_row(formSignal.SIG_toxique, {'label': 'Toxicité incorrecte : '}) }}
        {{ form_row(formSignal.SIG_desc, {'label': 'Description incorrecte : '}) }}
        {{ form_row(formSignal.SIG_accessibilite, {'label': 'Qualité du spot incorrecte : '}) }}
        <input type="submit" value="Signaler ce spot">

    {{ form_end(formSignal) }}

    
<!-- Version Desktop -->

<section class="p-50-50-0 no-padding-mobile">

        <div class="row d-flex-mobile flex-column-reverse-mobile">
            <div class="col m3 d-flex flex-column ai-center jc-space-between h-75vh s12 h-100pct-mobile">
                <div class="d-flex flex-column">
                    <h3 class="raleway fw-700 color-1 separator fs-24 no-margin text-center">LAISSER UN COMMENTAIRE</h3>
                        <form class="" action="" id="formFilter" method='POST'>
                           <!-- Ajouter des commentaires -->
                            {{ form_start(formComment) }}
                                {{ form_widget(formComment.COM_text, { 'value': '' }) }}
                                <input class="button-secondary mt-10" type="submit" value="Poster le commentaire">
                            {{ form_end(formComment) }}
                        </form>
                </div>
                <div class="d-flex ai-flex-end">
                    <img class="responsive-img d-none-mobile" src="../img/congratulations.svg" alt="">
                </div>
            </div>
    
            <div class="col m9 s12 m-t-25-mobile">
    
                <div class="map w-100pct map-mobile" id="mapid">
                     <!-- Modal Structure -->
                        <div id="info-modal-spot{{ spots.id }}" class="modal">
                            
                                <div class="modal-content row">
                                    <div class="col s6">
                                        {% if spots.SPOPhoto %}

                                            <img src="../{{ spots.SPOPhoto }}" alt="Primary champignon">
                                
                                        {% else %}
                                        
                                            <img src="../img/champi-nf.png" alt="Primary champignon">
                                            
                                        {% endif %}
                                    </div>
                        
                                    <div class="col s6">
                                        <h3>Informations</h3>
                                        <p>Description : {{ spots.SPODescription }}</p>
                                        <p>Le champignon : {{ spots.SPOIdChampi.CHAEspece }}</p>
                                        <p>Poster par : {{ spots.SPOIdUser.Username}}</p>
                                    </div>
                                    
                                </div>
                        
                                <div class="modal-footer row">
                        
                                    <div class="col s12">
                        
                                        <!-- Affiche les commentaires -->
                                        {%   for comments in comment   %}

                                                {% if comments.COMIdUser.useProfilePic != null %}

                                                    <img src="../{{comments.COMIdUser.useProfilePic }}" alt="Photo de profil"> 
                                    
                                                {% else %}
                                            
                                                    <img src="../img/default-profile.png" alt="Photo de profil">
                                                
                                                {% endif %}
                                               
                                            <p>{{  comments.COMIdUser.username }}</p>
                                            
                                            <p>{{ comments.COMText }}</p>
                                            
                                        {%   endfor   %}
                        
                                    </div>
                                </div>
                            </div>
                        <!-- End Modal -->
                </div>
                <p id="infoposition"></p> 
            </div>
        </div>
    
    </section>
{% endblock %}