{% extends 'base.html.twig' %}

{% block title %}SearchMap{{ controller_name }}!{% endblock %}

{% block body %}

   <div class="map" id="mapid"></div>
   <p id="infoposition"></p>

    <input type="hidden" name="lat" id="lat"/> 
    <input type="hidden" name="lng" id="lng"/>

    {% for spot in spots %}
        {{ spot.id }}
        {{ spot.spoDescription }}
        {{ spot.SPOIdChampi.chaComestible }}
        <img src="../{{ spot.spoPhoto }}" alt="">
    {% endfor %}  
{% endblock %}