{% extends 'base.html.twig' %}

{% block title %}SearchMap{{ controller_name }}!{% endblock %}

{% block body %}

   <div class="map" id="mapid"></div>
   <p id="infoposition"></p>

    <input type="hidden" name="lat" id="lat"/> 
    <input type="hidden" name="lng" id="lng"/>

    {%   for spot in spots   %}
       <p>{{   spot.spoDescription   }}</p> 

    {%   endfor   %}

    {%   for comments in comment   %}
        <p>{{   comments.COMText    }}</p>
    {%   endfor   %}

    {{ form_start(formSignal) }}

        {{ form_row(formSignal.SIG_vide, {'label': 'Il n\'y a rien à ce spot : '}) }}
        {{ form_row(formSignal.SIG_toxique, {'label': 'Toxicité incorrecte : '}) }}
        {{ form_row(formSignal.SIG_desc, {'label': 'Description incorrecte : '}) }}
        {{ form_row(formSignal.SIG_accessibilite, {'label': 'Qualité du spot incorrecte : '}) }}
        <input type="submit" value="Signaler ce spot">

    {{ form_end(formSignal) }}

{% endblock %}