<header class="border-bot-1">
    <nav class="row p-10-20-tablette line-height-15px-tablette bg-color-2 h-100px p-10-50 d-flex jc-space-between mb-40-xl flex-column-xl box-shadow-none no-margin no-padding-mobile d-none-mobile">
    
        <div class="col xl4 m12 s2 d-flex jc-flex-start jc-center-lg">
            <a href="/">
               <img src="../img/cs_logo_orange.svg" alt="ChampiSpot" class="responsive-img w-70pct-tablette m-t-15-tablette d-none d-block-lg">
               <img src="../img/logo-tablette.svg" alt="ChampiSpot" class="responsive-img d-none-lg">
            </a>
            
        </div>

        <ul class="col xl8 m12 s10 d-flex p-initial-tablette w-100pct-tablette ai-center-tablette jc-space-around align-self-center ">
            <li>
                <a class="color-1" href="/">Home</a>
            </li>
            <li>
                <a class="color-1" href="/ajout">Ajouter un spot</a>
            </li>

            <li>
                <a class="color-1" href="/a-propos">A propos</a>
            </li>

            {% if not app.user %}
                <li>
                    <a class="color-1" href="{{ path('security_registration')}}">S'inscrire</a>
                </li> 
                <li>
                    <a class="color-1" href="{{ path('security_login')}}">Se connecter</a>
                </li> 
            {% else %}

            {% if app.user.id %}
                <li>
                   <a class="color-1" href="/profil/{{ app.user.id }}">Profil</a>
                </li>
            {% endif %}
                <li>
                    <a class="color-1" href="{{ path('security_logout')}}">Deconnexion</a>
                </li> 
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="color-1" href="/admin">Administration</a>
                </li>
            {% endif %}

        </ul> 
    </nav>


        <ul id="slide-out" class="sidenav bg-color-1 d-flex flex-column jc-space-around text-center">
            <li>
            <a href="/" class="color-3 raleway">Home</a>
            </li>
            <li>
                <a class="color-3 raleway" href="/ajout">Ajouter un spot</a>
            </li>

            <li>
                <a class="color-3 raleway" href="/a-propos">A propos</a>
            </li>

            {% if not app.user %}
                <li>
                    <a class="color-3 raleway" href="{{ path('security_registration')}}">S'inscrire</a>
                </li> 
                <li>
                    <a class="color-3 raleway" href="{{ path('security_login')}}">Se connecter</a>
                </li>                 
            {% else %}

            {% if app.user.id %}
                <li>
                   <a class="color-3 raleway" href="/profil/{{ app.user.id }}">Profil</a>
                </li>
            {% endif %}
                <li>
                    <a class="color-3 raleway" href="{{ path('security_logout')}}">Deconnexion</a>
                </li> 
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a class="color-3 raleway" href="/admin">Administration</a>
                </li>
            {% endif %}

        </ul>
    <ul id="slide-out" class="sidenav">
      <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger d-none d-block-mobile"><i class="material-icons color-1 m-20 d-inline-block fs-40">menu</i></a>
</header>
