{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


    <div class="map" id="mapid"></div>
    <p id="infoposition"></p>


    {{ form_start(formSpot) }}
        {{ form_row(formSpot.SPO_description) }}
        {{ form_row(formSpot.SPO_accessibilite) }}
        {{ form_row(formSpot.SPO_longitude) }}
        {{ form_row(formSpot.SPO_id_champi) }}
        {{ form_row(formSpot.SPO_photo) }}
        {{ form_row(formSpot.SPO_latitude) }}
        
        <input type="submit" value="Envoyer">
    {{ form_end(formSpot) }}

    <a href="{{ path('ajout_champignon') }}">Ajouter un champignon</a>
   
{% endblock %}