{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<section class="p-50-50-0">

    <div class="row">
        <div class="col s3 d-flex flex-column ai-center jc-space-between h-75vh">
            <div class="d-flex flex-column">
                <h3 class="raleway fw-700 color-1 separator fs-24 no-margin text-center">AJOUTER UN CHAMPIGNON</h3>
                         {{ form_start(formChampi) }}
                            {{ form_row(formChampi.CHA_espece) }}
                            {{ form_row(formChampi.CHA_nom) }}
                            {{ form_row(formChampi.CHA_comestible) }}
                            <input type="submit" value="Ajouter">
                        {{ form_end(formChampi) }}
            </div>
            <div class="d-flex ai-flex-end">
                <img class="responsive-img"src="../img/congratulations.svg" alt="">
            </div>
        </div>

        <div class="col s9">

            <div class="map w-100pct" id="mapid">
            </div>
            <p id="infoposition"></p>

            <input type="hidden" name="lat" id="lat"/> 
            <input type="hidden" name="lng" id="lng"/>



            
        </div>
    </div>

</section>

    <div class="map" id="mapid"></div>
    <p id="infoposition"></p>




{% endblock %}
