{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<section class="p-50-50-0">

    <div class="row">
        <div class="col s3 d-flex flex-column ai-center jc-space-between h-75vh">
            <div class="d-flex flex-column">
                <h3 class="raleway fw-700 color-1 separator fs-24 no-margin text-center">PROFIL</h3>
                        <p class="raleway color-1 fs-20">{{   infos.username   }}</p>
                        <p class="raleway color-1 fs-14">{{   infos.USENom   }}</p>
                    {% if infos.UseProfilePic != null %}
                        <img src="../uploads/profile/{{ infos.UseProfilePic }}" class="responsive-img" alt="Profile picture"/>                     
                    {% else %}
                        <img src="../img/default-profile.png" alt="Profile Picture" class="responsive-img">
                    {% endif %}
            </div>
            <div class="d-flex ai-flex-end">
                <img class="responsive-img" src="../img/congratulations.svg" alt="">
            </div>
        </div>

        <div class="col s9">

            <div class="map w-100pct" id="mapid">
            {# {%   for spot in spots   %}
                <input type="hidden" data-lat="{{ spot.SPOLatitude }}" 
                data-long="{{ spot.SPOLongitude }}" data-img="{{  spot.SPOPhoto  }}" 
                data-id="{{   spot.id   }}" data-description="{{  spot.SPODescription  }}" 
                name="lnglat" id="lnglat" class="lnglat" />
                
                <!-- Modal Structure -->
                <div id="info-modal-spot{{ spot.id }}" class="modal">
                    <div class="modal-content">
                        <h4>Modale de l'id {{ spot.id }}</h4>
                        <p>{{  spot.SPODescription  }}</p>
                        <p>Avec le champi : {{ spot.SPOIdChampi.CHAEspece }}</p>
                    </div>

                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
                <!-- End Modal -->
            {%   endfor   %} #}
                
                
            </div>
            <p id="infoposition"></p>

            <input type="hidden" name="lat" id="lat"/> 
            <input type="hidden" name="lng" id="lng"/>



            
        </div>
    </div>

</section>

{% endblock %}